# {{project_slug}}


## Development

This project uses `uv`. After cloning the source code, on the project directory run:

```bash
uv sync
```

Activate the virtual environment:

```bash
source .venv/bin/activate
```

Run full suite of CI tests:

```bash
make ci
```